# Домашнее задание к лекции «Продвинутый pandas»

## Задание 1

In [261]:
import pandas as pd

def view():
    rows=[]
    with open('visit_log.csv','r') as f:
        a=f.readline().split(';')
        for i in f:
            b=i.split(';')
            b=[line.rstrip() for line in b]
            rows+=[b]
    columns=[line.rstrip() for line in a]
    logdata=pd.DataFrame(rows,columns=columns)
    f.close()
    logdata['source_type']=logdata['traffic_source']
    return logdata

logdata=view()

def source(logdata):
    def res():
        result=[]
        for i in logdata:
            a=[]
            result=[]
            for i in logdata:
                a+=[i]
                if len(a)>5:
                    result+=[a]
                    a=[]
        return result
    result= res()
    for a in result:
        if 'yandex' in a or 'google' in a:
            return ('organic')
        elif a[3]=='Russia' and a[5]=='paid' in a:
            return ('ad')
        elif a[3]=='Russia' and a[5]=='email' in a:
            return ('ad')
        elif a[5]=='email' and 'Russia' not in a:
            return ('other')
        elif a[5]=='paid' and 'Russia' not in a:
            return ('other')
    else:
        return a[5]
        
logdata['source_type']=logdata.apply(source,axis=1)
logdata.tail(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18928,1550094255,c7e4bce62a,https://host.ru/8880fd00cf23066541,Australia,e721d23ec6,yandex,organic
18929,1550094260,39aeec73f8,https://host.ru/ee7c4e0674a284ee3f,Russia,9c832cf9d4,direct,direct
18930,1550094269,f1b4590410,https://host.ru/a5dda93e70318570c0,Russia,7f59a1e6a7,direct,direct
18931,1550094269,a7e2dfd759,https://host.ru/ef57543002ce2a0f2a,Belarus,04fec64cda,direct,direct
18932,1550094280,5001544772,https://host.ru/9f90e5c423a5f976d4,Russia,072148e3ba,google,organic
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

## Задание 2

In [286]:
import pandas as pd
urls = pd.read_table('URLs.txt')
urls[urls.url.str.contains('/\d{1,8}\-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## Задание 3

In [104]:
import pandas as pd

score = pd.read_csv('ml-latest-small/ratings.csv')

def user():
    users=[]
    for i in score['userId']:
        if i not in users:
            users+=[i]
    return users
users=user()

def diff():
    user=pd.DataFrame()
    for i in users:
        a=len(score[score['userId']==i])
        if a > 100:
            res={'Время жизни сессии': str(score[score['userId']==i].timestamp.max()-score[score['userId']==i].timestamp.min()),'Пользователь': str(i)}
            user = user.append(res,ignore_index=True)
            user=user.loc[:,['Пользователь','Время жизни сессии']]
    return user
    
user_data=diff()
user_data.head()

  Пользователь Время жизни сессии
0            4             203560
1            8              85187
2           15          471393496
3           17               8053
4           19               5282

## Задание 4

In [187]:
import pandas as pd

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

def df_client():
    client_id=client_base.to_dict()
    one=air.to_dict()
    two=rzd.to_dict()
    three=auto.to_dict()
    client_id.update(one)
    client_id.update(two)
    client_id.update(three)
    df = pd.DataFrame.from_dict(dict_client, orient='index').transpose()
    df=df.fillna(0)
    return df

df=df_client()
one_table=df.loc[:4,['client_id', 'air_revenue', 'rzd_revenue', 'auto_revenue','address']] #первая таблица
two_table=df.loc[:4,['client_id', 'air_revenue', 'rzd_revenue', 'auto_revenue']] #вторая таблица
one_table

   client_id  air_revenue  rzd_revenue  auto_revenue          address
0        113           81         1093         57483  Комсомольская 4
1        114            4         2810            83   Энтузиастов 8а
2        115           13        10283           912  Левобережная 1а
3        116          173         5774          4834          Мира 14
4        117            0          981            98        ЗЖБИиДК 1