# Домашнее задание к лекции "Базовые понятия статистики"

## Задание 1

In [62]:
import pandas as pd

data=pd.read_csv('horse_data.csv',
                 na_values = '?')
data=data.iloc[:,[0,1,2,3,4,5,6,10,22]]
data.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,530101,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,534817,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,530334,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,5290409,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,2.0

## Задание 2

In [87]:
import pandas as pd
data=pd.read_csv('horse_data.csv',na_values = '?')
data=data.iloc[:,[0,1,2,3,4,5,6,10,22]]

def info(self):
    minimum = data[self].min()
    maximum = data[self].max()
    rang = maximum - minimum
    mean = data[self].mean()
    moda = data[self].round().mode()[0]
    median = data[self].median()
    std = data[self].std()
    var = data[self].var()
    quantils= data[self].quantile([0.25, 0.75])
    Q1 = data[self].quantile(0.25)
    Q3 = data[self].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - (1.5 * IQR) 
    upper_bound = Q3 + (1.5 * IQR)
    remove_outliers = data[data[self].between(lower_bound, upper_bound, inclusive=True)].sort_values(self)
    pd.concat([data, remove_outliers]).drop_duplicates(keep=False)
    print('Выбросы для',self)
    print('По среднему значению',round(remove_outliers[self].mean(),1))
    print('По медиане',remove_outliers[self].median())
    print('Разница по среднему значению',round(data[self].mean() - remove_outliers[self].mean(),1))
    print('Разница по медиане',data[self].median() - remove_outliers[self].median(),'\n')
    
#info('rectal temperature')
info('pulse')
#info('respiratory rate')
#info('pain')
#info('outcome')
#info('temperature of extremities')

Выбросы для pulse
По среднему значению 70.3
По медиане 64.0
Разница по среднему значению 1.7
Разница по медиане 0.0

## Задание 3

In [86]:
import pandas as pd
data=pd.read_csv('horse_data.csv',na_values = '?')
data=data.iloc[:,[0,1,2,3,4,5,6,10,22]]

data['rectal temperature'].fillna(data['rectal temperature'].median(), inplace=True)
data['pulse'].fillna(data['pulse'].median(), inplace=True)
data['respiratory rate'].fillna(data['respiratory rate'].median(), inplace=True)
data['temperature of extremities'].fillna(data['temperature of extremities'].median(), inplace=True)
data['pain'].fillna(data['pain'].median(), inplace=True)
data['outcome'].fillna(data['outcome'].median(), inplace=True)

data.head(10)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,530101,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,534817,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,530334,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,5290409,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,530255,37.3,104.0,35.0,3.0,3.0,2.0
5,2.0,1,528355,38.2,64.0,24.5,2.0,2.0,1.0
6,1.0,1,526802,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,529607,38.2,60.0,24.5,3.0,3.0,2.0
8,2.0,1,530051,38.2,80.0,36.0,3.0,4.0,3.0
9,2.0,9,5299629,38.3,90.0,24.5,1.0,5.0,1.0