# Домашнее задание «Функции и работа с данными»

## Задание 1

In [36]:
import pandas as pd
films = pd.read_csv('movies.csv')
ratings=pd.read_csv('ratings.csv')
films['rating'] = ratings['rating']

def film_class(films):
    if films['rating'] <=2:
        return ('Низкий рейтинг')
    elif films['rating'] <=4 and films['rating']>2:
        return ('Средний рейтинг')
    elif films['rating'] > 4.5:
        return ('Высокий рейтинг')
    
films['class']=films.apply(film_class, axis=1)
films.head(10)

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.5,Средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.0,Средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.0,Средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.0,Низкий рейтинг
4,5,Father of the Bride Part II (1995),Comedy,4.0,Средний рейтинг
5,6,Heat (1995),Action|Crime|Thriller,2.0,Низкий рейтинг
6,7,Sabrina (1995),Comedy|Romance,2.0,Низкий рейтинг
7,8,Tom and Huck (1995),Adventure|Children,2.0,Низкий рейтинг
8,9,Sudden Death (1995),Action,3.5,Средний рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,2.0,Низкий рейтинг

## Задание 2

In [155]:
import pandas as pd
strok = pd.read_csv('keywords.csv')
strok.head()

def region(strok):
    for i in strok['keyword'].split(' '):
        if 'тул' in i and 'тульч' not in i:
            return ('Центр')
        elif 'москв' in i:
            return ('Центр')
        elif 'ярославл' in i:
            return ('Центр')
        elif 'петербург' in i:
            return ('Северо-Запад')
        elif 'псков' in i:
            return ('Северо-Запад')
        elif 'мурманск' in i:
            return ('Северо-Запад')
        elif 'владивосток' in i:
            return ('Дальний Восток')
        elif 'сахалин' in i:
            return ('Дальний Восток')
        elif 'хабаровск' in i:
            return ('Дальний Восток')
    else:
        return ('Undefined')

strok['region']=strok.apply(region, axis=1)

#Проверка результата
strok.loc[98080:98085]

                     keyword  shows     region
98080       канадский сфинкс   3861  Undefined
98081           women secret   3714  Undefined
98082         досуг в москве   3763      Центр
98083                 симс 5   3701  Undefined
98084              близко ру   3695  Undefined
98085  тибетский мастиф цена   3933  Undefined